body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
    background-color: darkgreen;
    color: #fffff0;
  }

  h1 {
    white-space: nowrap;
    overflow: hidden;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fffff0;
    color: darkgreen; 
  }

  #main-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 calc(100vh - 110px);
    overflow: auto;
 }

 .student {
    height: 20%;
    min-height: 20%;
    width: 85%;
    background-color: #fffff0;
    border: 4px solid gold;
    margin: 5px;
    border-radius: 15%;
    display: flex;
    justify-content: left;
 }

 .student-info{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    white-space: nowrap;
    margin-left: 2%;
    font-weight: bold;
 }

 .buttons {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 35%;
 }

 .response-btn {
  width: 10vh;
 }

 .circle {
    border-radius: 50% !important;
    margin: 2px;
    width: 50px !important;
    height: 50px !important;
 }

 .good {
    background-color: green !important;
 }

 .bad {
    background-color: red !important;
 }

 .okay {
    background-color: gold !important;
 }

 .question{
    padding-left: 3%;
    white-space: normal;
    color: black;
    font-weight: normal;
 }

 .question-form {
    width: 100%;
 }

 .back-btn {
    align-self: flex-end !important;
    color: #fffff0 !important;
 }
  
  footer {
    flex: 0 30px;
    background-color: darkgreen;
    color: #fffff0;
  }
  
  menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
  }
  
  #count {
    color: rgb(246, 239, 158);
  }
  
  .center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .logout-btn {
    color: #fffff0 !important;
  }
  #login-btn {
    margin-top: 4px;
  }
  /*this is where I mess with the bootstrap*/

  .btn-primary {
    background-color: lightgreen !important;
    border: 2px solid darkgreen !important;
    color: darkgreen !important;
  } 
  
  .split{
    display: flex;
    width: 100%;
    align-content: center;
  }

  .column {
    display: flex;
    flex:1;
    padding: 10px;
    justify-content: center;
  }

  .student-good {
    width: 80% !important;
    height: 80% !important;
    border-radius: 20% !important;
    background-color: green !important;
    font-size: 250% !important;
  }

  .student-okay {
    width: 80% !important;
    height: 80% !important;
    border-radius: 20% !important;
    background-color: goldenrod !important;
    font-size: 250% !important;
  }

  .student-bad {
    width: 80% !important;
    height: 80% !important;
    border-radius: 20% !important;
    background-color: red !important;
    font-size: 250% !important; 
  }

  .student-view {
    height: 70%;
  }

  #question-btn {
    margin-top: 10px;
  }

  /*start of modal css*/
  .modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 70% !important; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    padding-left: 15% !important;
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 50% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#theAnswer{
  width: 90%;
  height: 90%;
}
/*End of modal code*/
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
    #main-page {
        flex: 1 100vh;
    }
  }